<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start purpleNav">
  <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
  </a>

  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="" class="logo ">3Dice</a></li>
    <li><a routerLink="about" class="navText">About</a></li>
    <li><a routerLink="user-list" class="navText">Users</a></li>
    <li><a routerLink="post-list" class="navText">Posts</a></li>
  </ul>

  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
  </form>

 <a class="navText" routerLink="login" *ngIf="!loggedIn">
  Login
 </a>
 <a class="navText" routerLink="account" *ngIf="loggedIn">
  Account
 </a>
</div>
