<h1>3Dice</h1>
<br>
<p>Hallo! 3Dice is een client-side web programming website van <strong>Nick Thanh Phong Nguyen - 2223623</strong></p>
<br>
<p>Het doel van 3Dice is om een platform te creeëren voor iedereen, die interesse heeft in 3d printen!</p>
<p>Of je nou een hobbyis, ontwerper of maker bent, ons doel is om 3D-printen zo toegankelijk mogelijk te maken.</p>
<br>
<h5>Wat kan je nou op 3Dice?</h5>
<ul>
  <li>3D-modellen bekijken</li>
  <li>3D-modellen downloaden</li>
  <li>3D-modellen uploaden</li>
  <li>3D-modellen delen</li>
  <li>3D-modellen beoordelen</li>
</ul>
<br>
<h5>Schrijf je nu in!</h5>
<button>Inloggen</button>
<br>
<br>
<br>
<h5>ERD-Diagram</h5>
<img src="./assets/3dice.jpg"/>
<br>
<br>
<br>
<h5>Functionele requirements (FR)</h5>
<table>
  <thead>
      <tr>
          <th>ID</th>
          <th>User Story</th>
          <th>Acceptatiecriteria</th>
          <th>Prioriteit (MoSCoW)</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>1</td>
          <td>Als gebruiker wil ik 3D-modellen kunnen uploaden, zodanig dat ik mijn ontwerpen kan delen met anderen.</td>
          <td>
              <ul>
                  <li>Gebruikers kunnen een modelbestand (bijv. .STL) uploaden.</li>
                  <li>Een titel, beschrijving en categorie moeten ingevuld worden.</li>
                  <li>Alleen ingelogde gebruikers mogen uploaden.</li>
              </ul>
          </td>
          <td>Must</td>
      </tr>
      <tr>
          <td>2</td>
          <td>Als gebruiker wil ik 3D-modellen kunnen downloaden, zodanig dat ik deze kan gebruiken voor mijn eigen projecten.</td>
          <td>
              <ul>
                  <li>Downloadoptie beschikbaar op de detailpagina van elk model.</li>
                  <li>Alleen geregistreerde gebruikers kunnen downloaden.</li>
              </ul>
          </td>
          <td>Must</td>
      </tr>
      <tr>
          <td>3</td>
          <td>Als gebruiker wil ik 3D-modellen kunnen beoordelen, zodanig dat ik de kwaliteit en populariteit kan zien.</td>
          <td>
              <ul>
                  <li>Gebruikers kunnen een sterrenscore (1-5) geven.</li>
                  <li>Een gemiddelde score wordt weergegeven op de modelpagina.</li>
                  <li>Alleen ingelogde gebruikers mogen beoordelen.</li>
              </ul>
          </td>
          <td>Should</td>
      </tr>
      <tr>
          <td>4</td>
          <td>Als gebruiker wil ik een lijst van beschikbare 3D-modellen kunnen bekijken, zodanig dat ik inspiratie kan opdoen.</td>
          <td>
              <ul>
                  <li>Modellen zijn klikbaar voor meer details.</li>
              </ul>
          </td>
          <td>Must</td>
      </tr>
      <tr>
          <td>5</td>
          <td>Als gebruiker wil ik mijn eigen geüploade modellen kunnen beheren, zodanig dat ik wijzigingen kan doorvoeren.</td>
          <td>
              <ul>
                  <li>Gebruikers kunnen hun eigen modellen bewerken of verwijderen.</li>
                  <li>Wijzigingen vereisen inloggen.</li>
                  <li>Andere gebruikers hebben geen toegang tot bewerken/verwijderen.</li>
              </ul>
          </td>
          <td>Must</td>
      </tr>
  </tbody>
</table>
