<h1 class="purple">3Dice</h1>
<br>
<p>Hello! 3Dice is a client-side web programming platform created by <strong class="purple">Nick Thanh Phong Nguyen - 2223623</strong></p>
<br>
<p>The goal of 3Dice is to create a platform for everyone who has an interest in 3D printing!</p>
<p>Whether you're a hobbyist, designer, or maker, our mission is to make 3D printing as accessible as possible.</p>
<br>

<h5>What Can You Do on 3Dice?</h5>
<ul style="list-style-type: disc; padding-left: 20px; margin: 10px 0;">
  <li style="display: list-item; margin-bottom: 5px;">Explore 3D models: Browse a wide range of 3D models uploaded by the community.</li>
  <li style="display: list-item; margin-bottom: 5px;">Download 3D models: Save and use models for your own 3D printing projects.</li>
  <li style="display: list-item; margin-bottom: 5px;">Upload 3D models: Share your creations with the 3Dice community.</li>
  <li style="display: list-item; margin-bottom: 5px;">Share 3D models: Easily distribute your designs through links or embeds.</li>
  <li style="display: list-item; margin-bottom: 5px;">Rate 3D models: Provide feedback and ratings to help others discover the best designs.</li>
</ul>

<br>
<h5>Register now!</h5>
<button class="loginButton"><a class="purple" routerLink="../login">Login</a></button>
<br>
<br>
<br>
<h5>ERD-Diagram</h5>
<img class="images" src="../../../assets/3dice.png"/>
<br>
<br>
<br>
<h5>Functional requirements (FR)</h5>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>User Story</th>
        <th>Acceptance Criteria</th>
        <th>Priority (MoSCoW)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>As a user, I want to be able to upload 3D models so that I can share my designs with others.</td>
        <td>
          <ul>
            <li>Users can upload a model file (e.g., .STL).</li>
            <li>A title, description, and category must be filled in.</li>
            <li>Only logged-in users can upload.</li>
          </ul>
        </td>
        <td>Must</td>
      </tr>
      <tr>
        <td>2</td>
        <td>As a user, I want to be able to download 3D models so that I can use them for my own projects.</td>
        <td>
          <ul>
            <li>Download option available on the detail page of each model.</li>
            <li>Only registered users can download.</li>
          </ul>
        </td>
        <td>Must</td>
      </tr>
      <tr>
        <td>3</td>
        <td>As a user, I want to be able to rate 3D models so that I can see their quality and popularity.</td>
        <td>
          <ul>
            <li>Users can give a star rating (1-5).</li>
            <li>An average score is displayed on the model page.</li>
            <li>Only logged-in users can rate.</li>
          </ul>
        </td>
        <td>Should</td>
      </tr>
      <tr>
        <td>4</td>
        <td>As a user, I want to be able to view a list of available 3D models so that I can get inspiration.</td>
        <td>
          <ul>
            <li>Models are clickable for more details.</li>
          </ul>
        </td>
        <td>Must</td>
      </tr>
      <tr>
        <td>5</td>
        <td>As a user, I want to be able to manage my own uploaded models so that I can make changes.</td>
        <td>
          <ul>
            <li>Users can edit or delete their own models.</li>
            <li>Changes require login.</li>
            <li>Other users do not have access to edit/delete.</li>
          </ul>
        </td>
        <td>Must</td>
      </tr>
    </tbody>
  </table>
  