<h1>3Dice</h1>
<br>
<p>Hallo! 3Dice is een client-side web programming website van <strong>Nick Thanh Phong Nguyen - 2223623</strong></p>
<br>
<p>Het doel van 3Dice is om een platform te creeëren voor iedereen, die interesse heeft in 3d printen!</p>
<p>Of je nou een hobbyis, ontwerper of maker bent, ons doel is om 3D-printen zo toegankelijk mogelijk te maken.</p>
<br>
<h5>Wat kan je nou op 3Dice?</h5>
<ul>
  <li>3D-modellen bekijken</li>
  <li>3D-modellen downloaden</li>
  <li>3D-modellen uploaden</li>
  <li>3D-modellen delen</li>
  <li>3D-modellen beoordelen</li>
</ul>
<br>
<h5>Schrijf je nu in!</h5>
<button>Inloggen</button>
<br>
<br>
<h5>ERD-Diagram</h5>
<img src="./assets/3dice.jpg"/>