.postImageContainer{
  background: black;
  border-radius: 12px;
}

.postImage {
  height: 500px;
}
.carousel-item {
  line-height: 0;
}

.purpleText{
  color: purple;
}

.interText{
  background: purple;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 12px;

}

.loginButton{
  border: 2px solid white;
  background: purple;
  color: white;
  border-radius: 6px;
  transform: scale(1.5);
}

.loginButton:hover{
  background: white;
  color: purple;
  border: purple 2px solid;
}

.popularPostGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.postGridItemText{
  background:purple;
  color:white;
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
  height: 105px;
}

.postGridItem img {
  border-radius: 8px 8px 0px 0px; 
  width:100%;
  height: 300px;
  object-fit: cover; 
}