<footer class="row border-top">
  <div class="col-md-7">
    <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <p class="text-body-secondary" style="margin-left:100px">© 2024</p>
  </div>

  <div class="col-md-2">
    <h5>Quick nav</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Home</a></li>
      <li class="nav-item mb-2"><a routerLink="/about" class="nav-link p-0 text-body-secondary">About</a></li>
      <li class="nav-item mb-2"><a routerLink="/user-list" class="nav-link p-0 text-body-secondary">Users</a></li>
      <li class="nav-item mb-2"><a routerLink="/post-list" class="nav-link p-0 text-body-secondary">Posts</a></li>
    </ul>
  </div>

  <div class="col-md-2">
    <h5>Me</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">Nick Thanh Phong Nguyen</a></li>
      <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">Student id: 2223623</a></li>
      <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">Avans hogeschool</a></li>
      <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">Informatics student</a></li>
      <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">2nd year</a></li>
    </ul>
  </div>
</footer>
